{:paths
 ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0-alpha3"}
  ubergraph/ubergraph {:mvn/version "0.8.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :viz-graph
  {:exec-fn bjj-graph.visual/viz-graph}

  :random-sequence
  {:exec-fn bjj-graph.generator/random-sequence}

  :random-subgraph
  {:exec-fn bjj-graph.generator/random-subgraph}}}
